.home{
    background: blueviolet;
    height: 200px;
    width: 400px;
    border: 50px;
    text-align: center;
    border-radius: 50px;
    text-decoration: line-through;
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-size: cover;
}
.bot{
    background-color: aqua;
    border-radius: 20px;
}
.kot{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    border-radius: 60px;
    border-color: brown;
    display: flex;
}